.Content {
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: $master-gutter;
    margin-bottom: $master-gutter;

    .title {
        font-weight: $f-black;
        font-size: 1.2rem;
        margin-bottom: $master-gutter/2;
        color: #333;
        background-color: #fff;
    }

    .content {
        //border-right: 3px solid $color-accent-secondary;
        //padding-right: $master-gutter;
        //margin-right: $master-gutter;
        font-family: $font-base-serif;
        font-size: 1rem;
        line-height: 130%;
        color: #555;
    }

    ol {
        padding-right: $master-gutter;
        list-style-type: decimal;
        list-style-position: outside;
    }
}