@use "sass:math";
@use "../config" as *;
@use "../typography" as *;

.Dedication {
    align-self: center;
    text-align: center;
    font-family: $font-base-serif;
    font-size: 1rem;
    width: 30%;
    min-width: 460px;
    margin: math.div($master-gutter, 2) auto;
    padding: math.div($master-gutter, 2);
    border: 1px solid $color-0;
    background-color: #fff;

    p {
        margin-bottom: 0.3rem;
    }

    p:last-child {
        margin-bottom: 0;
    }

    b {
        font-weight: $f-bold;
    }


}