.Feedback {
    position: relative;
    margin: 0;
    display: flex;
    flex-direction: column;
    grid-template: none;
    align-items: flex-start;
    border: none;

    textarea {
        height: auto;
        min-height: 80px;
    }

    .mode {
        position: absolute;
        display: flex;
        z-index: 2;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,0.85);
        color: #fff;
        justify-content: center;
        align-items: center;
        font-family: $font-base-sans-serif;
        font-size: 1.2rem;
        font-weight: $f-light;

        &.normal, &.active {
            display: none;
        }
    }

    &.normal {
        .contact,
        .body,
        .submit {
            display: none;
        }
    }
}



