@use "sass:math";
@use "../config" as *;
@use "../typography" as *;

.FlashList {
    background-color: transparent;
}

.Flash {
    position: relative;
    margin-bottom: math.div($master-gutter, 3);
    padding-bottom: math.div($master-gutter, 3) + 8px;

    .subject {
        font-weight: $f-bold;

    }

    .body {
        position: relative;
        font-size: 0.9rem;
        line-height: 125%;
        word-break: break-all;
    }

    .date,
    .author {
        font-size: 0.8rem;
        font-family: $font-base-sans-serif;
        color: #ccc;
    }

    .author {
        border-bottom: 8px solid $color-0;
    }

    .asset.img {
        max-width: 100%;
    }
}