.Front {
    .title {
        font-weight: $f-light;
        font-size: 2.5rem;
        line-height: 110%;
        margin: $master-gutter;
    }

    .invitation {
        position: relative;
        background-color: #f2f9ff;
        text-align: right;
        font-size: 1rem;
        font-family: $font-base-serif;
        border-bottom: 1px solid $color-accent-secondary;
        border-top: 1px solid $color-accent-secondary;
        padding: $master-gutter 10% $master-gutter/2;

        &:before {
            @extend %quick-title;
            content: 'הזמנה';
            width: $master-gutter*3;
            color: $color-accent-secondary;
        }
    }

    .copyright {
        text-align: center;
        font-size: 0.85rem;
        color: #999;
        padding: $master-gutter 10% $master-gutter/2;
    }
}