.Navigation {
    display: flex;
    width: 100%;
    height: $navigation-height;
    justify-content: center;
    align-items: start;

    .links {
        position: absolute;
        left: 130px;
        flex-direction: column;
        display: flex;
        align-items: flex-end;
        width: auto;
        height: 1rem;
        line-height: 1rem;

        a {
            display: inline-block;
            margin: 4px $master-gutter/2;
            color: #999;
            border-color: #999;
        }
    }

}