@use "sass:math";
@use "../config" as *;
@use "../typography" as *;

.PageHead {
    display: grid;
    height: $page-header-height;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "back title title next";

    .header {
        grid-area: title;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .title {
        font-weight: $f-light;
        font-size: 2rem;
        line-height: 140%;
        color: #333;
        margin-bottom: math.div($master-gutter, 3);
        padding: math.div($master-gutter, 2) $master-gutter;
        background-color: $color-0;
        width: auto;
    }

    .back-panel {
        grid-area: back;
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .arrow {
            align-self: flex-end;
        }
    }

    .next-panel {
        grid-area: next;
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;

    }

    .arrow {
        display: flex;
        margin: auto math.div($master-gutter, 2);
        font-size: 2rem;
        border: none;

        .label {
            font-size: 0.8rem;
        }
    }

    .Registration {
        padding: 0;
        border: 0;
        min-height: auto;

        &:before {
            display: none;
        }
    }
}