.Scribd {
    position: relative;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    .view-toggle {
        position: absolute;
        align-self: center;
        z-index: 2;
        top: -2px;
        color: #999;
        cursor: pointer;
        font-size: 0.7rem;
        margin-bottom: 5px;
        //border-bottom: 1px dashed #ccc;
        border-radius: 4px;
        padding: 5px  10px;
        background-color: $color-0;

        &:hover {
            color: #333;
            border-color: #333;
        }
    }

    iframe {
        min-width: 100%;
        min-height: 800px;
        border: 0;
    }

    &.fullscreen  {
        position: fixed;
        flex-direction: row;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        background-color: rgba(0,0,0,0.8);

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        .view-toggle {
            align-self: auto;
            position: absolute;
            right: $master-gutter;
            top: $master-gutter;
        }
    }
}