@use "sass:math";
@use "../config" as *;
@use "../typography" as *;

.Registration {
    position: relative;
    text-align: right;
    min-height: 100px;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    grid-auto-flow: column;
    grid-gap: math.div($master-gutter, 2);
    align-items: center;
    background-color: #f6f6f6;

    label {
        font-weight: $f-normal;
        font-family: $font-base-serif;
        grid-row: 2;
    }

    input {
        grid-row: 3;
        font-size: 1rem;
        padding: 4px;
        color: $link-color;
    }

    .footer {
        grid-column: 1 / 3;
        grid-row: end;
    }

    .message {
        grid-column: 1 / 3;
        grid-row: 1;
        border-radius: 4px;
        border: 1px solid #ccc;
        padding: math.div($master-gutter, 2);
        background-color: #f5f5f5;
    }

}