@use "sass:math";
@use "config" as *;
@use "typography" as *;

.TOCPage {

    .Header {
        max-width: 500px;
        margin: auto;

        h1 {
            font-size: 400%;
            font-weight: 300;
            height: auto;
            line-height: 140%;
            text-align: center;
        }

        h3 {
            font-size: 200%;
            color: #999;
            line-height: 140%;
            text-align: center;
        }

        .intro {
            margin-top: $master-gutter;
        }
    }

    .TOC {
        text-align: right;
        max-width: 500px;
        margin: auto auto $master-gutter;

        a {
            line-height: 150%;
            padding-bottom: math.div($master-gutter, 3);
            padding-top: math.div($master-gutter, 3);
            margin-bottom: 0;
            display: block;
        }
    }

    .toc-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        a {
            line-height: 150%;
            border-color: $color-0;
            padding-bottom: math.div($master-gutter, 2);
            padding-top: math.div($master-gutter, 2);
            margin-bottom: 0;
            display: block;

            &:hover {
                background-color: #fff;
            }

            &:not([href]) {
                visibility: hidden;
                display: inline;
                margin: 0;
                padding: 0;
            }
        }
    }

    .TOCCard {
        box-sizing: border-box;
        position: relative;
        width: 50%;
        min-width: 370px;
        padding: $master-gutter $master-gutter*2;
        background-color: #f5f5f5;
        border-bottom: 6px dashed #fff;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: -1px;
            width: 1px;
            background-color: $color-0;
            z-index: 1;
        }

        .back-to-top {
            color: #999;
        }
    }

    .IndexTitle {
        font-size: 500%;
        font-weight: 700;
        line-height: 140%;
        height: auto;
    }

    .PageEntry {
        margin: 0;
        padding: 0;
    }
}