@use 'reset-css/sass/reset';
@use './config' as *;
@use './typography' as *;
@use './page' as *;
@use './toc-page' as *;
@use './poster-grid' as *;
@use './elements' as *;
@use './components/content' as *;
@use './components/header' as *;
@use './components/footer' as *;
@use './components/page-head' as *;
@use './components/navigation' as *;
@use './components/scribd' as *;
@use './components/summary' as *;
@use './components/questions' as *;
@use './components/video' as *;
@use './components/front-page' as *;
@use './components/user-registration' as *;
@use './components/feedback' as *;
@use './components/dedication' as *;
@use './components/flashes' as *;
@use './components/related' as *;
@use './responsive' as *;

* {
    -webkit-overflow-scrolling: touch;
}

html {
    direction: rtl;
}

body {
    height: auto;

    color: $brand-dark-1;
    font-size: 14px;
    line-height: 130%;
    font-family: $font-base-sans-serif;
    font-weight: $f-normal;
    word-wrap: break-word;
    font-kerning: normal;
    -moz-font-feature-settings: "kern", "liga", "clig", "calt";
    -ms-font-feature-settings: "kern", "liga", "clig", "calt";
    -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
    font-feature-settings: "kern", "liga", "clig", "calt";
}

.DYTES {
    display: grid;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: auto;
    border-top: 5px solid $color-2nd;
}