// Typography overrides
$font-base-sans-serif : almoni-dl, HelveticaNeue, Helvetica, Arial, sans-serif;
$font-base-serif : 'David Libre', georgia, serif;

// 
$master-gutter : 20px;

// Colors
$brand-dark-1       : #33495f;
$brand-lite-1       : #f2f9ff;
$link-color         : #39f;
$link-color-hover   : #069;
$color-accent-secondary : #966;

// UI consts
$site-header-height : 30px;
$page-header-height : 100px;