a {
    color: $color-2nd;
    font-size: 0.85rem;
    text-decoration: none;
    border-bottom: 1px solid $color-2nd;
    padding-bottom: 1px;
    font-weight: $f-normal;

    &:hover {
        color: $link-color-hover;
        border-width: 0;
    }
}

p {
    margin-bottom: $master-gutter/2;
}

input, textarea, button {
    outline: none;
    box-sizing: border-box;
    padding: $master-gutter/4;
    width: 100%;
    height: $master-gutter*1.5;
    border: 1px solid $color-0;
    margin-bottom: $master-gutter/2;
}

input:focus, textarea:focus {
    background-color: #fff;
    border-right-color: $link-color;
}

button {
    border-radius: 5px;
    background-color: $color-2nd;
    min-height: $master-gutter*1.8;
    font-weight: $f-black;
    color: #fff;
    border: 2px solid $color-2nd;
    font-family: $font-base-sans-serif;
    font-size: 1rem;
    padding: 4px 20px;
    outline: none;

    &.outline {
        background-color: transparent;
        border: 2px solid $color-2nd;
        color: $color-2nd;
        font-weight: $f-black;
    }

    &.thick {
        min-height: $master-gutter*2.2;
    }
}

.hidden {
    visibility: hidden;
}