.Index {
    .Header {
        max-width: 500px;
        margin: auto;

        h1 {
            font-size: 400%;
            font-weight: 300;
            height: auto;
            line-height: 140%;
            text-align: center;
        }
        h3 {
            font-size: 200%;
            color: #999;
            line-height: 140%;
            text-align: center;
        }
        .intro {
            margin-top: $master-gutter;
        }
    }

    .TOC {
        text-align: right;
        max-width: 500px;
        margin: auto;
    }

    .IndexTitle {
        font-size: 500%;
        font-weight: 700;
        line-height: 200%;
        height: auto;
        padding: 0 $master-gutter*2;
    }
    .PageEntry {
        padding: 0 $master-gutter*2;
    }
}