.Page {
    width: 100%;
    display: grid;
    grid-template-rows: 180px auto;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: "header header header header"
        "related page page material";

        .toolbar {
            grid-area: header;
        }
        .material {
            grid-area: material;
        }
        .pdf {
            grid-area: 'page';
        }
        .related {
            grid-area: related;
        }
}