@use "sass:math";
@use "config" as *;
@use "typography" as *;

.Page {
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    display: grid;
    grid-template-rows: $site-header-height auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 0; //$master-gutter;
    grid-template-areas: "header header header header"
        "material page page related"
        "footer footer footer footer";

    .page-toolbar {
        grid-area: header;
        justify-content: center;
        height: $site-header-height;
        background-color: $head-color;
        border-bottom: 4px solid $color-0;
    }

    .page-material {
        grid-area: material;

        .Content {
            padding-left: $master-gutter;
            padding-right: $master-gutter*2;
        }
    }

    .page-pdf {
        grid-area: page;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .page-related {
        grid-area: related;

        .Content {
            padding-right: $master-gutter;
            padding-left: $master-gutter*2;
        }
    }

    .page-footer {
        grid-area: footer;
    }

    .Registration {
        display: flex;
        flex-direction: column;
        grid-template: none;
        align-items: flex-start;

        &:before,
        label,
        input,
        button,
        .message {
            margin-bottom: math.div($master-gutter, 2);
        }
    }


}