.Page {
    width: 100%;
    display: grid;
    grid-template-rows: $page-header-height auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: $master-gutter;
    grid-template-areas:    "header header header header"
                            "material page page related"
                            "footer footer footer footer";

        .toolbar {
            grid-area: header;
        }
        .material {
            grid-area: material;
        }
        .pdf {
            grid-area: page;
        }
        .related {
            grid-area: related;
        }

    .Registration {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        grid-template: none;
        align-items: flex-start;
        border: none;

        &:before {
            position: relative;
            padding: 0;
            top: auto;
            background-color: transparent;
        }

        &:before, label, input, button, .message {
            margin-bottom: $master-gutter/2;
        }
    }


}