@media only screen and (max-width: 820px) {
    .Header  {
        .Logo {
            height: 60px;

            &:after {
                bottom: -20px;
                left: 50%;
                margin-left: -4em;
                width: auto;
                color: #000;
            }
        }
    }

    .Navigation {
        .links {
            top: 85px;
            left: 30px;
            align-items: center;
            width: 130px;
        }
    }

    .Page {
        display: grid;
        grid-template-rows: $site-header-height auto;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 0; //$master-gutter;
        grid-template-areas:    "header header"
                                "material page"
                                "related related"
                                "footer footer";

        .page-material {
            .Content {
                padding-right: $master-gutter;
            }
        }
    }
}

@media only screen and (max-width: 580px) {
    .Header  {
        height: 40px;

        .Logo {
            width: 100%;
            height: 30px;
            left: 0;
        }
    }

    .Navigation {
        .links {
            top: 110px;
            left: 0px;
            align-items: flex-end;
            width: 130px;
        }
    }

    .PageHead {
        box-sizing: border-box;
        margin-top: -$master-gutter;
        margin-bottom: $master-gutter;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:    "title title" 
                                "back next";

        .title {
            padding-top: $master-gutter*1.5;
        }
    }

    .Page {
        display: grid;
        grid-template-rows: $site-header-height auto;
        grid-template-columns: 1fr;
        grid-column-gap: 0; //$master-gutter;
        grid-template-areas:    "header"
                                "material"
                                "page" 
                                "related"
                                "footer";
    }

    .page-footer {
        grid-template-columns: 1fr;
    }

    .Summary {
        .content {
            max-height: 100px;
        }

        &.expanded {
            width: auto;
            height: auto;
            
            .content {
            }
        }
    }

    .TOCPage {
        .Header {
            height: auto;
            padding-top: $master-gutter*3;

            .Logo {
                top:0;
            }

            .intro {
                padding-right: $master-gutter;
                padding-left: $master-gutter;
            }
        }
    }
}
