@import './../../node_modules/reset-css/sass/reset';
@import './config';
@import './typography';
@import './page';
@import './poster-grid';
@import './components/content';
@import './components/page-head';
@import './components/scribd';
@import './components/summary';
@import './components/questions';
@import './components/video';
@import './components/front-page';
@import './components/user-registration';
@import './components/feedback';
@import './components/_dedication';

html {
    direction: rtl;
}

body {
    height: auto;

    color: $brand-dark-1;
    font-size: 14px;
    line-height: 130%;
    font-family: $font-base-sans-serif;
    font-weight: $f-normal;
    word-wrap: break-word;
    font-kerning: normal;
    -moz-font-feature-settings: "kern", "liga", "clig", "calt";
    -ms-font-feature-settings: "kern", "liga", "clig", "calt";
    -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
    font-feature-settings: "kern", "liga", "clig", "calt";
  }

  a {
      color: #39f;
      font-size: 0.85rem;
      text-decoration: none;
      border-bottom: 1px solid $link-color;
      padding-bottom: 1px;
      font-weight: $f-normal;

      &:hover {
          color: $link-color-hover;
          border-width: 0;
      }
  }

  p {
      margin-bottom: $master-gutter/2;
  }

  .hidden {
      visibility: hidden;
  }

  .DYTES {
      display: grid;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      overflow: auto;

      .Header {
          display: flex;
          justify-content: center;
          height: $site-header-height;
          background-color: #f9f9f9;
      }

      .Poster {
      }

      .Page {

      }
  }