@import './../../node_modules/reset-css/sass/reset';
@import './config';
@import './typography';
@import './page';
@import './poster-grid';
@import './elements';
@import './components/content';
@import './components/page-head';
@import './components/navigation';
@import './components/scribd';
@import './components/summary';
@import './components/questions';
@import './components/video';
@import './components/front-page';
@import './components/user-registration';
@import './components/feedback';
@import './components/_dedication';
@import './components/_flashes.scss';
@import './components/related';

html {
    direction: rtl;
}

body {
    height: auto;

    color: $brand-dark-1;
    font-size: 14px;
    line-height: 130%;
    font-family: $font-base-sans-serif;
    font-weight: $f-normal;
    word-wrap: break-word;
    font-kerning: normal;
    -moz-font-feature-settings: "kern", "liga", "clig", "calt";
    -ms-font-feature-settings: "kern", "liga", "clig", "calt";
    -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
    font-feature-settings: "kern", "liga", "clig", "calt";
  }

  .DYTES {
      display: grid;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      overflow: auto;
      border-top: 5px solid $color-2nd;

      .Logo {
          position: absolute;
          left: 30px;
          width: 100px;
          height: 100px;
          background-color: $color-2nd;
          color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          font-weight: $f-black;
          font-size: 1.1rem;
          box-shadow: 0 0 4px 1px rgba(0,0,0,0.3);
          border: 0;

          &:hover {
              box-shadow: 0 0 4px 1px rgba(0,0,0,0.4);
          }

          &:after {
              content: 'בית מדרש הסולם';
              position: absolute;
              font-size: 0.7rem;
              font-weight: $f-light;
              width: 100%;
              text-align: center;
              bottom: 3px;
          }
      }

      .Header {
          display: flex;
          justify-content: center;
          height: $site-header-height;
          background-color: $head-color;
          /*background-image: url(/../../images/baal-hasulam.png);
          background-position: top right;
          background-repeat: no-repeat;
          background-size: contain;
          background-color: #575757;*/
      }
  }