@use "sass:math";
@use "../config" as *;
@use "../typography" as *;

.Content {
    border-bottom: 1px solid $color-0;
    padding-top: $master-gutter;
    padding-bottom: $master-gutter;

    /*&:hover {
        box-shadow: inset 0 0 10px 3px $color-0;
    }*/

    .title {
        font-weight: $f-black;
        font-size: 1.2rem;
        margin-bottom: math.div($master-gutter, 2);
        color: $color-title;
    }

    .content {
        //border-right: 3px solid $color-accent-secondary;
        //padding-right: $master-gutter;
        //margin-right: $master-gutter;
        font-family: $font-base-serif;
        font-size: 1rem;
        line-height: 130%;
        color: #555;

        h1,
        h2,
        h3,
        h4,
        h5,
        b {
            font-weight: $f-bold;
        }
    }

    ol {
        padding-right: $master-gutter;
        list-style-type: decimal;
        list-style-position: outside;
    }

    .asset {
        &.img {
            padding: 5px;
            border-radius: 2px;
            box-sizing: border-box;
            border: 1px solid $color-0;
            box-shadow: 0 0 3px 1px rgba(200, 200, 200, 0.5);
            background-color: #fff;
            display: inline-block;
            max-width: 33%;
        }
    }
}