---
// Static Astro component for navigation links
---

<section class="Navigation">
  <div class="links">
    <a href="#footer" class="about">אודות</a>
    <a href="https://www.hasulam.co.il" class="hasulam">אתר הסולם</a>
  </div>
</section>
